* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.section {
  padding: 10px 0;
}

.container {
  max-width: 1142px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.navbar {
  width: 100%;
  -webkit-box-shadow: 0px 1px 0px 0px #e1e1e1;
          box-shadow: 0px 1px 0px 0px #e1e1e1;
  border: none;
}

.navbar-wrap {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo {
  width: 131px;
  height: 35px;
  margin-right: 450px;
  margin-top: 28px;
}

.navbar-links {
  width: 531px;
  height: 15px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 1.05px;
  position: relative;
}

.navbar__links:hover {
  color: black;
  text-decoration: none;
}

.navbar__links:hover::before {
  content: '';
  width: 18px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 70%;
  left: -30px;
}

.navbar__links:focus {
  color: black;
}

.navbar-search-btn {
  color: #777777;
}

.navbar-search-btn:visited {
  color: #777777;
}

.navbar-search-txt {
  width: 0;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-search-box {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin-top: 3px;
}

.navbar-search-box:hover .navbar-search-txt {
  width: 150px;
  padding: 0 6px;
  border: 1px solid;
}

.about-main {
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .navbar-logo {
    margin-right: 200px;
  }
}

@media (max-width: 991px) {
  .navbar-logo {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-shadow: 0px 0px 0px 0px #777777;
            box-shadow: 0px 0px 0px 0px #777777;
  }
  .navbar__links {
    margin-left: 5px;
  }
  .navbar-search-btn {
    display: none;
  }
  .navbar-search-box {
    display: none;
  }
  .navbar-search-txt {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar {
    -webkit-box-shadow: 0px 0px 0px 0px #777777;
            box-shadow: 0px 0px 0px 0px #777777;
  }
  .navbar-logo {
    margin-right: 20px;
    width: 100px;
  }
  .navbar__logo {
    height: 20px;
    margin-right: 0px;
  }
  .navbar__links {
    font-size: 10px;
    margin-left: 5px;
  }
}

.black {
  color: black;
}

@media (max-width: 768px) {
  .carousel-inner {
    width: 100%;
    height: 300px;
  }
  .d-block {
    width: 500px;
    height: 300px;
  }
}

.menu-line-1 {
  margin-top: 33px;
  border-bottom: 1px solid #777777;
}

.menu-line-2 {
  border-bottom: 1px solid #777777;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 23px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15px;
  width: 741px;
}

.menu__links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 1.05px;
  border: none;
  background-color: white;
}

.menu__links:focus {
  color: black;
  outline: none;
}

.menu__links:hover {
  color: black;
}

.menu-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__images1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__images2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__img {
  padding: 10px;
  padding-left: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-btn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
}

.menu-btn-more {
  width: 125px;
  height: 30px;
  background-color: #959595;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.65px;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .menu-wrap {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .menu {
    width: 450px;
  }
  .menu__images1 {
    display: none;
  }
  .menu-img {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .menu-wrap {
    width: 450px;
  }
  .menu__links {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .navbar-logo {
    margin-left: -10px;
  }
  .menu-line-2 {
    margin-top: 5px;
  }
  .menu-wrap {
    margin: auto;
    width: 350px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    height: 60px;
  }
  .menu__links {
    font-size: 13px;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  margin-top: 137px;
  margin-bottom: 55px;
}

.footer-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.33px;
  text-align: center;
  color: #9c9c9c;
  margin-top: 60px;
}

.footer-letter-black {
  color: black;
  margin: 0 5px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-links:hover {
  text-decoration: none;
}

.twitter-logo {
  width: 30px;
}

.inst-logo {
  width: 30px;
}

.facebook-logo {
  width: 28px;
}

@media (max-width: 500px) {
  .footer-letter {
    font-size: 10px;
  }
}

.heading-img {
  margin: auto;
  width: 100%;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-first {
  margin-left: 100px;
}

.text-second {
  text-align: center;
}

.text-content {
  max-width: 800px;
}

@media (max-width: 1199px) {
  .about-content {
    width: 300px;
    height: 400px;
  }
  .text-first {
    margin-left: 30px;
  }
}

@media (max-width: 500px) {
  .about-content {
    display: none;
  }
}

.title-text {
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 4.5px;
  color: #333333;
}

.clarification {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: 0.35px;
  text-align: center;
  color: #777777;
}

.post-img {
  text-align: center;
}

.post__img {
  margin: auto;
  width: 100%;
}

.post-text {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.post__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: 0.35px;
  text-align: left;
  color: #777777;
}

.text-inborder {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border: solid 2px #e1e1e1;
  border-left: 4px solid #777777;
}

.text__inborder {
  font-family: PTSerif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.25;
  letter-spacing: 0.4px;
  color: #333333;
}

@media (max-width: 500px) {
  .clarification {
    width: 100%;
  }
}

.box-form {
  margin-bottom: 32px;
}

.box-info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-form-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  margin-top: 87px;
}

.info-h1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: 12px;
  color: #2f302f;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.info-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.4px;
  color: #2f302f;
}

.info-line {
  margin-top: 18px;
  border-bottom: 2px solid #777777;
  width: 60px;
  margin-bottom: 35px;
}

.info__calendar {
  margin-bottom: 25px;
}

.info-calendar {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.38px;
  color: #777777;
}

.info-calendar-bold {
  font-weight: bold;
  color: #222222;
}

.info-calendar-bold-2 {
  color: #555555;
  font-weight: bold;
}

.form {
  margin-top: 87px;
  margin-left: 35px;
}

.form-mini {
  height: 40px;
  border: solid 1px #ebebeb;
  width: 350px;
}

.form-name {
  border-left: solid 4px #ebebeb;
}

.form-big {
  height: 150px;
  border-radius: 2px;
  border: solid 1px #ebebeb;
  margin-top: 40px;
}

.form_button {
  color: #fff;
  height: 39px;
  border-width: 1px 0;
  border-style: solid none;
  border-radius: 4px;
  background-color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  width: 218px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black {
  margin-top: 79px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

textarea {
  width: 100%;
}

.values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.values-h1 {
  margin-top: 71px;
  text-align: center;
}

.values-info {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: 0.35px;
  text-align: center;
  color: #777777;
  width: 600px;
}

.values-images {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.values__images {
  width: 330px;
  height: 230px;
}

.cards {
  width: 330px;
}

.blog-post {
  width: 350px;
}

.blog-post-img2 {
  margin-top: 30px;
}

.blog-post:hover {
  text-decoration: none;
}

.blog-post-menu {
  margin-right: 50px;
}

.blog-post-h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
}

.blog-post-p {
  margin: auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.blog-post-span {
  font-size: 13px;
  font-weight: bold;
  line-height: 2.31;
  color: #cccccc;
}

.blog-post-span2 {
  margin: auto;
  margin-top: 0;
}

.blog-post-title {
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  margin-left: 40px;
  margin-bottom: 0;
  margin-top: 0;
}

.img__hover {
  margin: auto;
  width: 110px;
  height: 26px;
  margin-left: 40px;
  margin-top: 29px;
  margin-bottom: 0;
  background-color: #000000;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 3px;
}

.img-hover2 {
  background: url("../img/menu-images/menu-img-3.png") no-repeat center top;
  height: 300px;
  width: 100%;
}

.img-hover2:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.img-hover {
  background: url("../img/menu-images/menu-img-5.png") no-repeat center top;
  height: 300px;
  width: 100%;
}

.img-hover:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.p-hover {
  height: 100%;
  display: none;
  font-size: 10px;
  text-align: center;
  color: #fff;
  -webkit-animation: fade .5s linear forwards;
          animation: fade .5s linear forwards;
}

.p__hover {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
  margin-left: 40px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */