* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1142px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo {
  width: 131px;
  height: 35px;
  margin-right: 465px;
  margin-top: 28px;
}

.navbar-links {
  width: 531px;
  height: 15px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 1.05px;
  position: relative;
}

.navbar__links:hover {
  color: black;
  text-decoration: none;
}

.navbar__links:hover::before {
  content: '';
  width: 18px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 70%;
  left: -30px;
}

.navbar__links:focus {
  color: black;
}

.navbar-search-btn:visited {
  color: #777777;
}

.navbar-search-txt {
  width: 0;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-search-box {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin-top: 3px;
}

.navbar-search-box:hover .navbar-search-txt {
  width: 150px;
  padding: 0 6px;
  border: 1px solid;
}

@media (max-width: 1199px) {
  .navbar-logo {
    margin-right: 200px;
  }
}

@media (max-width: 991px) {
  .navbar-logo {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .navbar__links {
    margin-left: 5px;
  }
  .navbar-search-btn {
    display: none;
  }
  .navbar-search-box {
    display: none;
  }
  .navbar-search-txt {
    display: none;
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    width: 100%;
    height: 300px;
  }
  .d-block {
    width: 500px;
    height: 300px;
  }
}

.menu-line {
  margin-top: 40px;
  border-bottom: 1px solid #777777;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15px;
  width: 741px;
  margin-left: 250px;
}

.menu__links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 1.05px;
}

.menu__links:focus {
  color: black;
}

.menu__links:hover {
  color: black;
}

.footer {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  margin-top: 30px;
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list {
  margin-top: 20px;
}

.social-links {
  width: 100px;
  height: 14px;
  padding: 10px;
}

.twitter-logo {
  width: 30px;
}

.inst-logo {
  width: 30px;
}

.facebook-logo {
  width: 28px;
}
/*# sourceMappingURL=style.css.map */