.blog
  &-post 
    width: 350px
    margin-bottom: 30px
    &-img2 
      margin-top: 30px
    &:hover
      text-decoration: none    
    &-menu
      margin-right: 50px
      margin-top: 50px
    &-h1
      font-size: 20px
      font-weight: bold
      line-height: 1.5
      color: #333333
    &-p 
      margin: auto
      font-family: Roboto
      font-size: 14px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.71
      letter-spacing: normal
      text-align: left
      color: #777777
    &-span 
      font-size: 13px
      font-weight: bold
      line-height: 2.31
      color: #cccccc
    &-span2 
      margin: auto
      margin-top: 0
    &-title
      margin: auto
      font-size: 20px
      line-height: 1.5
      color: #ffffff
      margin-left: 40px
      margin-bottom: 0
      margin-top: 0
.img
  &__title    
    width: 110px
    height: 26px   
    background-color: #000000
    font-family: Roboto
    font-size: 13px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 1.38
    letter-spacing: normal
    color: #ffffff
    padding-top: 3px
    text-align: center
  &__hover 
    margin: auto
    margin-left: 40px
    margin-top: 29px
    margin-bottom: 30px
  &-hover2 
    background: url('../img/menu-images/menu-img-3.png') no-repeat center top
    height: 300px
    width: 100%
    &:hover 
      div 
        display: flex
        flex-direction: column
        background: rgba(0, 0, 0, 0.5)
        cursor: pointer
  &-hover 
    background: url('../img/menu-images/menu-img-5.png') no-repeat center top
    height: 300px
    width: 100%
    &:hover 
      div 
        display: flex
        flex-direction: column
        background: rgba(0, 0, 0, 0.5)
        cursor: pointer
      
.p
  &-hover 
    height: 100%
    display: none
    font-size: 10px
    text-align: center
    color: #fff
    animation: fade .5s linear forwards
  &__hover 
    font-family: Roboto
    font-size: 14px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.71
    letter-spacing: normal
    text-align: left
    color: #e5e5e5
    margin-left: 40px

@keyframes fade 
  0% 
    opacity: 0;
  
  100% 
    opacity: 1;
  
