.info
  margin-top: 87px
  width: 700px
  &-form
    display: flex
    flex-direction: row 
    margin: auto
  &-h1
    font-family: Roboto
    font-size: 30px
    font-weight: 300
    font-stretch: normal
    font-style: normal
    line-height: 0.8
    letter-spacing: 12px
    text-align: left
    color: #2f302f
    text-transform: uppercase
    margin-bottom: 18px
  &-text 
    font-family: Roboto
    font-size: 16px
    font-weight: 300
    font-stretch: normal
    font-style: normal
    line-height: 1.88
    letter-spacing: 0.4px
    text-align: left
    color: #2f302f
  &-line
    margin-top: 18px
    border-bottom: 2px solid #777777  
    width: 60px
    margin-bottom: 45px
  &__calendar 
    margin-bottom: 30px
  &-calendar
    font-family: Roboto
    font-size: 15px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.6
    letter-spacing: 0.38px
    text-align: left
    color: #777777
    &-bold 
      font-weight: bold
      color: #222222
      &-2
        color: #555555
        font-weight: bold
.form
  margin: auto
  margin-top: 87px
  &-mini 
    width: 358px
    height: 40px
    border: solid 1px #ebebeb   
  &-big 
    width: 748px
    height: 150px
    border-radius: 2px
    border: solid 1px #ebebeb
    margin-top: 40px
  &-button 
    color: #fff 
    width: 218px
    height: 39px
    border-width: 1px 0
    border-style: solid none
    border-radius: 4px
    background-color: #000000
    font-family: Roboto
    font-size: 14px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 1.54
    letter-spacing: 0.7px
    text-align: center
    text-transform: uppercase
    