.footer 
  &-logo 
    display: flex
    justify-content: center 
  &__logo
    margin-top: 137px
    margin-bottom: 55px
  &-letter
    display: flex
    justify-content: center
    text-transform: uppercase
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.33px;
    text-align: center;
    color: #9c9c9c;
    margin-top: 60px
    &-black
      color: black
      margin: 0 5px
.social
  &-list 
    display: flex
    margin: auto
    width: 300px
    justify-content: space-between
  &-links
    &:hover
      text-decoration: none
.twitter
  &-logo
    width: 30px
.inst
  &-logo
    width: 30px
.facebook
  &-logo
    width: 28px
    





