.menu
  &-line
    margin-top: 40px
    border-bottom: 1px solid #777777  
  &-wrap
    display: flex
    margin-top: 40px
    justify-content: space-between
    height: 15px
    width: 741px
    margin-left: 250px

  &__links
    text-decoration: none
    font-family: Roboto
    font-size: 14px
    font-weight: 700
    line-height: 24px
    text-transform: uppercase
    color: #777777
    letter-spacing: 1.05px
    &:focus
      color: black
    &:hover
      color: black
  &-img
    display: flex
  &__images1, &__images3
    display: flex
    margin-top: 100px
    flex-direction: column
  &__images2
    margin-top: 50px
    flex-direction: column    
  &__img
    padding: 10px
    flex-grow: 1
    display: none
.flex
  display: flex



    


